<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <!--Sidebar content-->
        <form>
            <div class="form-group">
                <label for="searchQuery">Filter:</label>
                <input id="searchQuery" ng-model="query" class="form-control" placeholder="Keywords">
            </div>
            <div class="form-group">
                <label for="orderSelect">Order by:</label>
                <select id="orderSelect" ng-model="orderProp" class="form-control">
                    <option value="provider">Source</option>
                    <option value="rank">Rank</option>
                    <option value="title">Title</option>
                    <option value="publishedDate.dateObject">Date</option>
                </select>
                <label class="form-checkbox-label" for="ascending">Descending:</label>
                <input class="form-checkbox" id="ascending" ng-model="ascendingProp" type="checkbox" checked="checked"/>
            </div>
        </form>
    </div>
    <div class="col-md-8">
      <!--Body content-->
      <ul class="news">
        <li ng-repeat="item in allNewsList | filter:query | orderBy:orderProp:ascendingProp" class="thumbnail">
             <img class="favIcon" ng-src="{{item.favIconUrl}}"/>
             &nbsp;<a target="blank" href="{{item.url}}">{{item.title}}</a><i class="glyphicon glyphicon-share-alt"/>
             <br><small>{{item.summary}}</small>
             <br><small class="provider">Source:&nbsp;<a target="blank" href="{{item.providerUrl}}">{{item.provider}}</a></small>
             <br><small class="provider">Published:&nbsp;{{item.publishedDate.prefix}}{{item.publishedDate.time}}&nbsp;{{item.publishedDate.date}}</small>
        </li>
      </ul>
    </div>
	<div class="col-md-2">
		<div>
			<span/>
		</div>
    </div>
  </div>
</div>